body {
  background-color: #918E9B;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Inter;
} 

.main {
  color: white;
}

.Title {
  margin: 0;
  margin-left: 25px;
  margin-bottom: 7px;
}

.all {
  background-color: #23252C;
  padding: 50px;
  height: 90%;
}

.frontend {
  font-weight: 62.8;
  color: #F3BF99;
  margin-left: 45px;
  margin-top: 0;
}

.website {
  font-weight: 2.8;
  margin-left: 59px;
  margin-top: 0;
}

.email {
  background-color: white;
  text-align: center;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  width: 100%;
  padding: 9px 13px 9px 11px;
}

#discriptions {
  padding: 35px;
  max-width: 247px;
}


.buttonImg {
  height: 11px;
}

footer {
  color: white;
}

footer > h4 {
  font-size: 15.75px;
  margin-bottom: 0;
  margin-top: 40px;
}

.aboutContents {
  font-weight: 100;
}